<h1>You can't hang</h1>
<form class="" action="/panicmode" name="allgySuperstar" method="post">
  <label for="0">EGGGGGGGS</label>
  <input type="text-field" name="doom">
  <label for="1">PEEEEEAAAANUTS</label>
  <input type="checkbox" name="1">
  <label for="2">SHEEELLLLLLFISHES</label>
  <input type="checkbox" name="2">
  <label for="3">TOMOAAAATOEESS</label>
  <input type="checkbox" name="3">
  <label for="4">CHOCHOLATTTT</label>
  <input type="checkbox" name="4">
  <label for="5">POLLLLLLLEN</label>
  <input type="checkbox" name="5">
  <label for="6">CAAAATTTSSS</label>
  <input type="checkbox" name="6">
  <button type="submit" name="button">WHAT IS DANGER !?!?!?</button>
</form>
