<h1>You can't hang</h1>
<form class="" action="/panicmode" name="allgySuperstar" method="post">
<label for="0">EGGGGGGGS</label>
<input type="checkbox" id="0" name="Eggs">
<label for="1">PEEEEEAAAANUTS</label>
<input type="checkbox" id="1" name="Peanuts">
<label for="2">SHEEELLLLLLFISHES</label>
<input type="checkbox" id="2" name="Shellfish">
<label for="3">STRRRAAAWWWBERRIES</label>
<input type="checkbox" id="3" name="Strawberries">
<label for="3">TOMOAAAATOEESS</label>
<input type="checkbox" id="4" name="Tomatoes">
<label for="4">CHOCHOLATTTT</label>
<input type="checkbox" id="5" name="Chocolate">
<label for="5">POLLLLLLLEN</label>
<input type="checkbox" id="6" name="Pollen">
<label for="6">CAAAATTTSSS</label>
<input type="checkbox" id="7" name="Cats">
  <button type="submit" name="danger">WHAT IS DANGER !?!?!?</button>
</form>
